# Virtual env
venv/

# vscode
.vscode/*

# pycache
__pycache__/
test/__pycache__/

# pytest cache
.pytest_cache/
/test/pytest_cache/

# documentation build files
doc/build/

# Web app build files
src/openinsar_webapp/node_modules/
src/openinsar_webapp/package-lock.json

# OpenInSAR working files
CurrentProject.xml

# temp files
scratch/
src/openinsar_webapp/public/dev*
output/app/dev*
output/dev*

# PBS stderr and stdout
OpenInSAR*.e*
OpenInSAR*.o*
.asv
*.asv
*.sh.*

# Results
*.shp
*.shx
*.dbf
*.gpkg

# Executable for running github actions locally
act
act.exe